<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asseterp.security.biz.user.mapper.AppUserMapper">

    <select id="findByUsername" resultType="com.asseterp.security.biz.user.entity.AppUser">
        SELECT
            user_id,
            company_id,
            username,
            password,
            full_name,
            role,
            lock_yn,
            created_at
        FROM app_user
        WHERE username = #{username}
    </select>

    <select id="findById" resultType="com.asseterp.security.biz.user.entity.AppUser">
        SELECT
            user_id,
            company_id,
            username,
            password,
            full_name,
            role,
            lock_yn,
            created_at
        FROM app_user
        WHERE user_id = #{userId}
    </select>

    <select id="findAll" resultType="com.asseterp.security.biz.user.entity.AppUser">
        SELECT
            user_id,
            company_id,
            username,
            full_name,
            role,
            lock_yn,
            created_at
        FROM app_user
        ORDER BY user_id
    </select>

    <update id="updateLockYn">
        UPDATE app_user
        SET lock_yn = #{lockYn}
        WHERE user_id = #{userId}
    </update>

</mapper>
